{% extends '::base.html.twig' %}

{% block menu -%}
<nav class="navbar navbar-default container-fluid">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('hotel_index') }}"><span class="first-word">Omitsis </span><span class="second-word">Hotels App</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="{{ path('hotel_index') }}">Hotels</a></li>
            <li class=""><a href="">Help</a></li>
        </ul>
        <div class="navbar-right">
        </div>
    </div>
</nav>
{% endblock %}
