.form-login{
    width:200px;
    height:200px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: -40px;
}

.logo {
    margin:15px 5px;
}

.museu {
    width:30%;
    float:left;
}

.txtlabel {
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    display: block;
    margin:15px 0 0;
}

.txt{
    font-family:Arial;
    font-size:16px;
    display: block
}

.img-museu {
    max-width: 300px;
}

.fix{
    position:fixed;
    bottom:20px;
    left:80%;
}

.message {
    padding: 1em;
}

form.form-edit select[multiple=multiple] {
    height: 6em;
}
form.form-edit input[type=file] {
    padding: 0;
}
form.form-edit button[type=submit] {
    margin-top: 1em;
}

div.dataTables_processing {
    color:red !important;
    background: white url("/img/loading.gif") no-repeat center !important;
    height: 54px !important;
    width: 54px !important;
    margin: auto !important;
    border-radius: 10px !important;
    /* Hide the text. */
    text-indent: 100% !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
