{% extends '::menu.html.twig' %}

{% block body %}

    <div class="container">
    <h1><small>Hotel list</small></h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-3">City</th>
                <th class="col-md-1">Stars</th>
                <th class="col-md-1"># Rooms</th>
                <th class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td><a href="{{ path('reservation_index', { 'hotelId': hotel.id }) }}">{{ hotel.name }}</a></td>
                <td>{{ hotel.city }}</td>
                <td>{{ hotel.stars }}</td>
                <td>{{ hotel.rooms|length }}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('reservation_index', { 'hotelId': hotel.id }) }}">Reservations</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('reservation_new', { 'hotelId': hotel.id }) }}">New reservation</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="mailto:albert@terrones.cat" target="_top">By Albert Terrones</a>
  </div>


{% endblock %}
