{% extends '::menu.html.twig' %}

{% block body %}

<div class="container">
<h1><small>Edit reservation for Hotel {{ hotel }}</small></h1>

{{ form_start(edit_form) }}

    <div class="form-group row">
    <label for="inputKey" class="col-md-4 control-label">{{ form_row(edit_form.checkinDate) }}</label>
    <label for="inputValue" class="col-md-4 control-label">{{ form_row(edit_form.checkoutDate) }}</label>
    {{ form_errors(edit_form.checkoutDate) }}
    </div>

    {{ form_row(edit_form.customer) }}
    {{ form_row(edit_form.room) }}

    <br />
    <input class="btn btn-default" type="submit" value="Save changes" />
{{ form_end(edit_form) }}
<br />
<a class="btn btn-default btn-sm"  href="{{ path('reservation_index', { 'hotelId': hotel.id }) }}">Back to all reservations</a>

<script>
$("form").submit(function( event ) {

  var checkin=$("#reservation_checkinDate").val();
  var checkout=$("#reservation_checkoutDate").val();

  checkin=checkin.split("-");
  checkin=checkin[2]+"-"+checkin[1]+"-"+checkin[0];
  checkout=checkout.split("-");
  checkout=checkout[2]+"-"+checkout[1]+"-"+checkout[0];

  if( (new Date(checkin).getTime() > new Date(checkout).getTime())) {
    alert("Check Out Date must be greater than Check In Date.");
    event.preventDefault();
    return false;
  }
});
</script>
{% endblock %}
