{% extends '::menu.html.twig' %}

{% block body %}
    <div class="container">
    <h1><small>Reservation list for Hotel {{ hotel }}</small></h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2">Customer</th>
                <th class="col-md-2">Check In Date</th>
                <th class="col-md-2">Check Out Date</th>
                <th class="col-md-2">Room number</th>
                <th class="col-md-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{% if reservation.customer %}{{ reservation.customer }}{% endif %}</td>
                <td>{% if reservation.checkinDate %}{{ reservation.checkinDate|date('d-m-Y') }}{% endif %}</td>
                <td>{% if reservation.checkoutDate %}{{ reservation.checkoutDate|date('d-m-Y') }}{% endif %}</td>
                <td>{% if reservation.room %}{{ reservation.room }}{% endif %}</td>
                <td>
                    <a class="btn btn-default btn-sm" href="{{ path('reservation_edit', { 'hotelId': reservation.room.hotel.id ,'id': reservation.id }) }}">Update</a>
                    <a data-delete-method="delete" data-delete-confirm="Are you sure you want to delete the laboratory?" class="btn btn-danger btn-sm" href="{{ path('reservation_delete', { 'hotelId': reservation.room.hotel.id, 'id': reservation.id }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <a class="btn btn-success" href="{{ path('reservation_new', { 'hotelId': hotel.id }) }}">Create a new Reservation</a>
        <a class="btn btn-default" href="{{ path('hotel_index') }}">Back to Hotels</a>

  </div>

{% endblock %}
