{% extends '::menu.html.twig' %}

{% block body %}

    <div class="container">
    <h1><small>Create reservation for Hotel {{ hotel }}</small></h1>

    {{ form_start(form) }}

        <div class="form-group row">
        <label for="inputKey" class="col-md-4 control-label">{{ form_row(form.checkinDate) }}</label>
        <label for="inputValue" class="col-md-4 control-label">{{ form_row(form.checkoutDate) }}</label>
        {{ form_errors(form.checkoutDate) }}
        </div>

        {{ form_row(form.customer) }}
        {{ form_row(form.room) }}

        <br />
        <input class="btn btn-default" type="submit" value="Create" />
    {{ form_end(form) }}
    <br />
    <a class="btn btn-default btn-sm"  href="{{ path('reservation_index', { 'hotelId': hotel.id }) }}">Back to all reservations</a>

    <script>
    $("form").submit(function( event ) {

      var checkin=$("#reservation_checkinDate").val();
      var checkout=$("#reservation_checkoutDate").val();

      checkin=checkin.split("-");
      checkin=checkin[2]+"-"+checkin[1]+"-"+checkin[0];
      checkout=checkout.split("-");
      checkout=checkout[2]+"-"+checkout[1]+"-"+checkout[0];

      if( (new Date(checkin).getTime() > new Date(checkout).getTime())) {
        alert("Check Out Date must be greater than Check In Date.");
        $( "#reservation_checkoutDate" ).focus();
        event.preventDefault();
        return false;
      }
    });
    </script>
{% endblock %}
